*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.kotlin

# Project specific
*.jks
*.keystore
*.log

# Mobile Tools
*.apk
*.ap_
*.dex

# Capture files
bugreport*.zip
bugreport*.txt
btlog*.txt
btsnoop*.log
dafit_*.zip
FS/
dafit_connect_preamble_find.zip
dafit_find_alarm_capture.zip
dafit_multi_actions.zip
dafit_single_find_session.zip
official_find_watch.zip
